#quantity { 
	color: #d6c8b1; 
	background: #a29b89;
	font-size: 38px; 
	font-family: "NimbusSanTCon Bold";
	border-radius: 0px;
}

/* Hover button color:; */

.shptrn_ci_details a,
.shptrn_ci_qty button,
.shptrn_ci_qty input,
.shptrn_ci_details a:hover,
.shptrn_atc_button button:hover,
.shptrn_ci_qty button:hover { color: black; }

/* Btn styling */

#checkoutBtn,
.shptrn_ci_qty button,
.shptrn_atc_button button,
.shptrn_checkout_button button {
	line-height: 0px !important;
	padding: 0px;
}

.shptrn_atc_button button,
.shptrn_checkout_button button {
  color: black;
  width: 174px;
	height: 60px;
	font-size: 34px;
	border: 7px solid #f26622;
}


.shptrn_ci_qty { width: 500px; }
.shptrn_ci_qty button {  
	height: 15px;
	border-left: none; 
	border-top: none;
	border-bottom: none;
	font-size: 13px; 
	font-family: sans-serif !important; 
}
.shptrn_ci_qty button:hover { background-color: white; color: #f26622 }
.shptrn_ci_qty button:nth-child(2) { width: 105px !important; border-right: 1px solid black !important; }
.shptrn_ci_qty button:nth-child(3) { width: 55px ;border-right: none; }

.shptrn_ci_qty input { 
	border: 1px solid grey !important;
	width: 20px !important; 
	background-color: white !important; 
	width: 20px;
	height: 20px;
}
.shptrn_ci_qty input, .shptrn_ci_qty button { display: inline-block !important; }

#checkoutBtn { 
	width: 120px;
	font-size: 25px;
	border: 5px solid #f26622;
	height: 55px;
	margin-left: 46px !important; 
	margin-top: 15px;

}

/* Modal */
#shptrn_ch_item { margin-left: 10px !important; }

#shptrn_cart_items_header { background-color: rgba(111, 105, 106, 1); height: 40px; }
#shptrn_cart_items_header label { padding: 7px; font-size: 18px; color:lightgrey; margin-right: 100px; }
/*#shptrn_ch_part_num {   }
}*/


/*.shptrn_atc_button button {  
	
}*/
.shptrn_ci_image a { width: 0px; height: 80px; }
.shptrn_ci_image td { width: 1px;  }
.shptrn_ci_image { 
	width: 100px; 
	padding-right: 10px !important;
}
.shptrn_ci_part_num { padding-left: 10px; padding-right: 10px; width: 160px;  }
.shptrn_cart_item tbody { margin-left: 15px !important; }

.shptrn_ci_details { width: 140px; padding-right: 20px !important;  }
.shptrn_cart_item td { border: none; }




.modal-backdrop { background: rgba(10, 10, 10, 0.5) !important; }
.modal-background { margin-left: 180px; }
.dialog-width { width: 880px !important; margin-top: 60px !important; }
.modal-content { border-radius: 0px; }

/* Quick Cart */

.shptrn_quick_label { color: rgba(111, 105, 106, 1); font-size: 18px; }
.shopatron_quick_cart { padding-left: 15px; padding-top: 10px;  }

#shptrn_checkout_detail_content { 
	width: 20%; 
	float: right; 
	text-align: right; 
	margin: 17px;
}
.shptrn_cart_price_row span:first-child { 
	font-size: 19px; 
	color: rgba(100, 100, 100,1);
	margin-right: 10px;
}
.shptrn_cart_price_row span:last-child { font-size: 25px; color: black; }





















