/*#checkOutDiv {}*/

body { margin: 0px; }


#atc button { 
	font-size: 15px;
	background: none;
	border: 5px solid orange; 
	width: 130px; 
	height: 60px; 
}
#atc button:hover { border: 5px solid grey }

#contShop { 
	background-color: lightblue; 
	width: 160px; 
	height: 50px;  
	border: 2px solid lightgrey;
	border-radius: 3px;
	font-size: 15px;
}

.shptrn_quick_cart a { text-decoration: none; color: black; font-size: 17px; }
.shptrn_quick_cart a:hover { color: rgba(60, 60, 60, 1); }
.nav-wrapper { width: 100%; height: 50px; background-color: orange;}
