#quantity { 
	width: 90px;
	color: #d6c8b1; 
	background: #a29b89;
	font-size: 38px; 
	font-family: "NimbusSanTCon Bold";
	border-radius: 0px;
}

#arrowHead {
	position: absolute;
	left: 190px;
	top: 380px;
	height: 50px;
	width: 150px; 
	text-align: center;
	vertical-align: middle !important;
	color: white;
	font-size: 20px;
	background-color: #f26622;
	line-height: 50px;
	z-index: 1;
}

/* Quantity
============================================== */

#spinnerUp,
#spinnerDown {
	position: absolute;
	z-index: 99;
	width: 0; 
	height: 0;
	left: 45px; 
}
#spinnerUp {
	top: 39px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #6c6667;
}
#spinnerDown { 
	top: 59px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #6c6667;
}


/* Search Bar
============================================== */

.mm-form { 
	border-top: 1px solid #4f4c4d;
	width: 100% !important; 
}
.mm-form i,
.mm-form button,
.mm-form input {
	background-color: #231f20 !important;
}
.mm-form input,
.mm-form button {
	height: 49px !important;
}
.mm-form input {
	width: 141px !important; 
	padding: 0px !important;
	padding-left: 4px !important;
}

.mm-form input::-webkit-input-placeholder,
.mm-form input {
   color: rgba(180, 180, 180, 1) !important;
}


.mm-form input:focus {
	border: none;
}

.mm-form button {
	border: none;
	width: 40px !important;
}
.mm-form i { 
	padding-right: 4px !important; 
	color: #f26622; 
	background-color: none; 
	font-size: 20px;
}

/* End search bar
============================================== */


/* Replace Content
============================================== */

.shptrn_quantity label,
.shptrn_quick_label {
	visibility: hidden;
	position: relative;
}

.shptrn_quantity label:after, 
.shptrn_quick_label:after,
.shptrn_quick_data:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
}
.shptrn_quantity label:after { content: "Quantity"; }
.shptrn_quick_label:after { content: "Shopping Cart"; }

/* End Replace Content
============================================== */

/* Hover button color:;
============================================== */

.shptrn_ci_details a,
.shptrn_ci_price,
.shptrn_ci_qty button,
.shptrn_ci_qty input,
.shptrn_ci_details a:hover,
.shptrn_atc_button button:hover,
.shptrn_ci_qty button:hover,
.shptrn_quantity label,
.shptrn_checkout_button button:hover,
.shptrn_no_items_in_cart  { color: black !important; }

/* Fonts 
============================================== */

.shptrn_ci_part_num,
.shptrn_ci_qty button,
#shptrn_cart_items_header label,
.shptrn_ci_price,
.shptrn_quantity label,
.shptrn_quick_label,
.shptrn_ci_details a,
.shptrn_cart_price_row span:last-child,
.shptrn_no_items_in_cart  { font-family: "NimbusSanTCon" !important; }
#shptrn_cart_items_header label { font-weight: 100; }
 
/* Upcase and Nimbus
============================================== */ 

.shptrn_quick_label,
.shptrn_atc_button button,
.shptrn_checkout_button button,
.shptrn_cart_price_row span:first-child,
#shptrn_cart_items_header label,
.shptrn_quantity label { text-transform: uppercase; }

.shptrn_ci_price,
.shptrn_cart_price_row span:first-child { 
	font-family: "NimbusSanTCon" !important;
}
.shptrn_cart_price_row span:first-child { font-weight: 700; }

/* End Fonts
============================================== */

/* Btn styling
============================================== */

#checkout-button,
.shptrn_ci_qty button,
.shptrn_atc_button button,
.shptrn_checkout_button button,
.shptrn_ci_qty input,
.mm-form button {
	line-height: 0px !important;
	padding: 0px !important;
}

.shptrn_atc_button button,
.shptrn_checkout_button button {
  color: black;
  width: 174px;
	height: 60px;
	font-size: 34px;
	border: 7px solid #f26622;
}
.shptrn_atc_button button {
	position: absolute;
	right: 137px;
	margin-top: 26px; 
}

/* End btn styling
============================================== */

#checkout-button { 
	width: 120px;
	font-size: 25px;
	border: 3px solid #f26622;
	height: 55px;
	margin-left: 46px !important; 
	margin-top: 15px;
}
#checkout-button:focus { outline: none; }
.shptrn_quantity label { 
  font-family: "NimbusSanTCon";
  font-size: 23px; 
}

/* Modal
============================================== */

.shptrn_no_items_in_cart { font-size: 20px; padding: 15px; }

#shptrn_cart_items_header { 
	background-color: rgba(111, 105, 106, 1); height: 40px; }
#shptrn_cart_items_header label { 
	padding: 7px; 
	font-size: 18px; 
	color: rgba(250, 250, 250, 1) !important; 
}
#shptrn_ch_part_num { margin-left: 185px !important; }
#shptrn_ch_item_qty { margin-left: 96px !important; }
#shptrn_ch_item_price { margin-left: 305px !important; }

.shptrn_ci_price { font-size: 17px; font-weight: bolder; }
.shptrn_cart_item table { border: none; }
.shptrn_cart_item { 
	border-bottom: 1px solid rgba(225, 225, 225, 1);  
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px; 
}
.shptrn_ci_qty { width: 360px; }
.shptrn_ci_qty button {  
	height: 18px;
	border-left: none; 
	border-top: none;
	border-bottom: none;
	font-size: 17px; 
}
.shptrn_ci_qty button:hover { background-color: white; color: #f26622 !important; }
.shptrn_ci_qty button:nth-child(2) { width: 105px !important; border-right: 1px solid black !important; }
.shptrn_ci_qty button:nth-child(3) { width: 55px ;border-right: none; }

.shptrn_ci_qty input { 
	width: 37px !important;
	height: 27px !important;
	border: 1px solid lightgrey !important;
	border-radius: 0px !important;
	background-color: white !important;
	padding-left: 7px !important;
	margin-right: 7px;
}

.shptrn_ci_qty input, .shptrn_ci_qty button { display: inline-block !important; }

#shptrn_ch_item { margin-left: 10px !important; }

.shptrn_ci_image a { width: 0px; height: 80px; }
.shptrn_ci_image td { width: 1px;  }
.shptrn_ci_image img { border: 1px solid lightgrey;}
.shptrn_ci_image { 
	width: 100px; 
	padding-right: 10px !important;
}
.shptrn_ci_part_num { width: 170px !important; padding-left: 10px; padding-right: 10px; width: 160px;  }
.shptrn_cart_item tbody { margin-left: 15px !important; }

.shptrn_ci_details { 
	width: 160px; 
	padding-right: 20px !important;  
}
.shptrn_ci_details a {
	font-size: 17px;
}
.shptrn_cart_item td { border: none !important; }
.modal-backdrop { background: rgba(0, 0, 0, 0.7) !important; }
.modal-background { margin-left: 180px; }
.dialog-width { width: 880px !important; margin-top: 60px !important; }
.modal-content { border-radius: 0px !important; }

/* End Modal 
============================================== */

/* Quick Cart
============================================== */

.atc_column {
  z-index:99;
}
.find_dealer {
	margin-top: 25px;
	margin-right: 5px; 
	width: 174px !important;
}

.product-social-list i {
	color: #6c6667;
}
.product-social-list {
	margin-top: 15px !important;
	padding-left: 17px; 
}

.shptrn_quantity input {
	width: 80px !important;
	height: 45px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 4px !important;
	line-height: 0px !important; 
}

.shptrn_quick_label { 
	color: rgba(111, 105, 106, 1); 
	font-size: 16px; 
	font-weight: 100;
	margin-left: 33px; 
	padding-bottom: 35px !important;  
}
.shopatron_quick_cart { padding-left: 15px; padding-top: 10px;  }
#shptrn_checkout_detail_content { 
	width: 20%; 
	float: right;  
	margin: 13px;
}
.shptrn_quick_data { 
	font-size: 15px; 
	color: rgba(180, 180, 180, 1);
	display: block; 
	margin-top: 8px;
	padding-left: 32px;	 
}
.shptrn_cart_price_row { 
	padding-bottom: 10px; 
	width: 200px;
}
.shptrn_cart_price_row span:first-child { 
	font-size: 16px; 
	color: rgba(130, 130, 130, 1);
	padding-right: 5px;
}
.shptrn_cart_price_row span:last-child { 
	font-size: 22px;
	font-weight: 600; 
	color: black; 
}
.shptrn_quantity label { font-weight: 500; }
#checkOutCart { position: relative; }
#cartImg { 
	background-image: url('images/cart.gif');
	background-size: 23px 21px;
	top: 12px;
	left: 15px;
	position: absolute; 
	width: 23px; 
	height: 20px; 
}
.shptrn_quantity,
.shptrn_quantity label { 
	margin: 0px !important;
	padding: 0px !important;
}